* {
  margin: 0px;
  background-color: rosybrown;
}

.main {
  display: grid;
  justify-items: center;
  /* background-color: yellow; */
  height: 100vh;
}

.inner {
  display: grid;
  place-content: center;
  /* background-color: red; */
  height: 100vh;
}
